#page-wrapper{padding-top: 20px}
.carousel-control span.fa{
  position: absolute;
  bottom: 20px;
}

.sacv-theme{
  box-shadow: black 0px 5px 20px;
  background: white;
}

.sacv-theme .navbar-toggle{
  color: black;
  border: 1px solid black;
}

.sacv-theme .navbar-toggle .icon-bar{
  background: black;
}

.sacv-theme .navbar-toggle:hover{
  background: black;
}

.sacv-theme .navbar-toggle:hover .icon-bar{
  background: white;
}
/*# sourceMappingURL=app.css.map */
